<div data-sly-use.model="com.adobe.aem.guides.wknd.core.models.BannerModel">
    <sly data-sly-use.image="image.html"
         data-sly-call="${image.image @ size='small' , path = 'http://localhost:4502/assetdetails.html/content/dam/1/7c967a6943e3288eb792bab8b6360d35.jpg'}"></sly>
    <h1 align="center">${model.heading}</h1>
    <p align="center">${model.text}</p>
    <form align="center" action="${model.link @ extension = 'com'}" target="_blank">
        <button>${model.title}</button>
    </form>
</div>